html, body {
	/*background-color: #DDDEE1;*/
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

#all {
	background-color: #FFF;
	/*box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.2);*/
	margin: 0px auto;
	padding: 20px 50px;
	width: 750px;
	
	font-family: Georgia;
	font-size: 1em;
	line-height: 1.5em;
}

#header {
	background-color: #201437;
	border-radius: 10px;
	border: 4px solid #FFF;
	box-shadow:	0px 0px 0px 1px rgba(0,0,0,0.3),
							1px 1px 5px rgba(0,0,0,0.2);
	margin: 2em -50px 3em -50px;
	overflow: hidden;
	padding: 5px 50px;
}
	#header pre,
	#header pre code {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		color: #F4F4F4;
		font-size: 1.1em;
		overflow: hidden;
		padding: 0px;
	}
	#header .comment {
		color: #9B9B9B;
	}
	#header .string {
		color: #6ACB43;
	}
	#header .number {
		color: #DA4D33;
	}
	#header .keyword {
		color: #FEE35B;
	}
	#header .entity,
	#header .operator {
		color: inherit;
	}
	
	#watchButton {
		float: right;
		margin-right: -30px;
		margin-top: -30px;
	}

#legal {
	font-size: 0.8em;
	margin-bottom: 30em;
	margin-top: 3em;
	text-align: center;
}


a {
	border-bottom: 1px solid #D2D2D2;
	color: inherit;
	padding: 0px 1px;
	text-decoration: none;
}
a:hover {
	border-bottom-color: inherit;
}

h1,
h2,
h3 {
	font-family: Helvetica;
}
h1 {
	/*margin-top: 1em;*/
}
h1 p {
	margin: 0;
}
h2,
h3 {
	font-weight: normal;
}

h1 + p {
	color: #4F4F4F;
	font-size: 1.2em;
}

section {
	
}
	section h2,
	section hr {
		font-size: 1.7em;
		margin-top: 2em;
	}
	section:first-of-type h2 {
		margin-top: 0;
	}
	section h3 {
		font-weight: normal;
		font-size: 1.3em;
		margin-top: 2em;
	}
	section h2 p,
	section h3 p {
		margin: 0;
	}
		section h3 code {
			border: 0;
			border-radius: 0;
			font-weight: normal;
			/*font-size: 0.8em;*/
			padding: 3px 4px;
		}
	
	section hr {
		background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(188,188,188,1) 45%,rgba(181,181,181,1) 50%,rgba(188,188,188,1) 55%,rgba(255,255,255,0) 100%);
		background-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(188,188,188,1) 45%, rgba(181,181,181,1) 50%, rgba(188,188,188,1) 55%, rgba(255,255,255,0) 100%);
		background-image: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(188,188,188,1) 45%,rgba(181,181,181,1) 50%,rgba(188,188,188,1) 55%,rgba(255,255,255,0) 100%);
		background-image: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(188,188,188,1) 45%,rgba(181,181,181,1) 50%,rgba(188,188,188,1) 55%,rgba(255,255,255,0) 100%); /* IE10+ */
		background-image: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(188,188,188,1) 45%,rgba(181,181,181,1) 50%,rgba(188,188,188,1) 55%,rgba(255,255,255,0) 100%);
		border: 0;
		height: 1px;
	}
	section:first-of-type hr {
		background-image: none;
	}
	
	section p {
		margin: 1em 0;
	}

pre,
code {
	background-color: whitesmoke;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	padding: 10px 10px;
}
code {
	color: crimson;
	font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	/*font-size: 12px;*/
	font-size: 0.75em;
	padding: 2px 4px;
	white-space: nowrap;
}
	pre code {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		color: inherit;
		white-space: pre-wrap;
	}

div.examples {
	
}
	div.examples .header {
		cursor: pointer;
		color: #558BC4;
		position: relative;
		left: 12px;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}
	div.examples .header:hover {
		text-decoration: underline;
	}
	div.examples .header:before {
		color: #000;
		content: '▸';
		/*content: '❯';*/
		/*font-size: 80%;*/
		position: absolute;
		left: -12px;
		transition: all 0.1s ease-out;
		-moz-transition: all 0.1s ease-out;
		-webkit-transition: all 0.1s ease-out;
	}
	div.examples .header.visible:before {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
	}
	div.examples div.table {
		max-height: 0px;
		overflow: hidden;
	}
	div.examples div.table.visible {
		max-height: 600px;
	}
	div.examples div.table.animate {
		transition: max-height 0.3s linear;
		-webkit-transition: max-height 0.3s linear;
		-moz-transition: max-height 0.3s linear;
	}
	div.examples table, div.examples td {
		border: 0;
		border-collapse: collapse;
	}
	div.examples td p {
		margin: 0;
	}
	div.examples tr:nth-child(3n+1) td {
		border-top: 1px solid lightgray;
	}
	div.examples td:first-child {
		padding-right: 20px;
		text-align: right;
		vertical-align: top;
	}
	div.examples td:nth-child(2) {
		font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
		font-size: 14px;
		white-space: nowrap;
}